@font-face {
    font-family: Helvetica Neue;
    src: url("../font/helveticaneuecyr-light.otf") format("opentype");
}

.news-block {
    font-family: "Helvetica Neue";
    color: #0f0f0f;
    margin: 10px;
    text-align: justify;
}

.link-style a {
    color: #181818;
    text-decoration: none;
}

.link-style a:hover {
    color: #01576e;
    text-decoration: none;
}

.news-hor-line {
    border-right: 1px solid rgb(213, 213, 213);
}

.news-ver-line {
    border-bottom: 1px solid rgb(213, 213, 213);
}

@media (max-width: 992px) {
    .news-hor-line {
        border-right: none;
    }
}