<div id="carousel" class="carousel slide">
    <!--indicatorSlides-->
    <ol class="carousel-indicators">
        <li class="active" data-target="#carousel" data-slide-to="0"></li>
        <li data-target="#carousel" data-slide-to="1"></li>
        <li data-target="#carousel" data-slide-to="2"></li>
    </ol>

    <!--slides-->
    <div class="carousel-inner">
        <div class="item active">
            <img src="src/app/pictures/sports-team_00285581.jpg" alt="">
            <div class="carousel-caption">
                <h3>The first slide</h3>
                <p>Description of the first slide</p>
            </div>
        </div>
        <div class="item">
            <img src="src/app/pictures/pursuit_home.jpg" alt="">
            <div class="carousel-caption">
                <h3>The second slide</h3>
                <p>Description of the second slide</p>
            </div>
        </div>
        <div class="item">
            <img src="src/app/pictures/volleyball--tojpeg_1441382461572_x2.jpg" alt="">
            <div class="carousel-caption">
                <h3>The third slide</h3>
                <p>Description of the third slide</p>
            </div>
        </div>
    </div>

    <!--arrowSlides-->
    <a href="#carousel" class="left carousel-control" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a href="#carousel" class="right carousel-control" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>
